gr.upatras.ece.wcl.radl.externalLibs/RA-TYPE-0_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://192.168.0.60:2000/axis/services/RA-TYPE-0_1" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://192.168.0.60:2000/axis/services/RA-TYPE-0_1" xmlns:intf="http://192.168.0.60:2000/axis/services/RA-TYPE-0_1" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="queryRequest">

      <wsdl:part name="conf_data" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part name="updateReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteResponse">

      <wsdl:part name="deleteReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="deleteRequest">

      <wsdl:part name="conf_data" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part name="conf_data" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createRequest">

      <wsdl:part name="conf_data" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="queryResponse">

      <wsdl:part name="queryReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="createResponse">

      <wsdl:part name="createReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="SampleRAService">

      <wsdl:operation name="delete" parameterOrder="conf_data">

         <wsdl:input message="impl:deleteRequest" name="deleteRequest"/>

         <wsdl:output message="impl:deleteResponse" name="deleteResponse"/>

      </wsdl:operation>

      <wsdl:operation name="create" parameterOrder="conf_data">

         <wsdl:input message="impl:createRequest" name="createRequest"/>

         <wsdl:output message="impl:createResponse" name="createResponse"/>

      </wsdl:operation>

      <wsdl:operation name="query" parameterOrder="conf_data">

         <wsdl:input message="impl:queryRequest" name="queryRequest"/>

         <wsdl:output message="impl:queryResponse" name="queryResponse"/>

      </wsdl:operation>

      <wsdl:operation name="update" parameterOrder="conf_data">

         <wsdl:input message="impl:updateRequest" name="updateRequest"/>

         <wsdl:output message="impl:updateResponse" name="updateResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RA-TYPE-0_1SoapBinding" type="impl:SampleRAService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="delete">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://activator.ral.bct.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deleteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.0.60:2000/axis/services/RA-TYPE-0_1" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="create">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://activator.ral.bct.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="createResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.0.60:2000/axis/services/RA-TYPE-0_1" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="query">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://activator.ral.bct.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="queryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.0.60:2000/axis/services/RA-TYPE-0_1" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://activator.ral.bct.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://192.168.0.60:2000/axis/services/RA-TYPE-0_1" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SampleRAServiceService">

      <wsdl:port binding="impl:RA-TYPE-0_1SoapBinding" name="RA-TYPE-0_1">

         <wsdlsoap:address location="http://192.168.0.60:2000"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
